body{
    margin: 0px;
    padding: 0;
}
main{
    display: flex;
    margin: 30px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh-60px);
    gap: 50px;
}

#myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.inputs{
    padding: 10px;
    border-radius: 50px;
    font-size: large;
}

#subBtn{
    padding: 10px 20px;
    border-radius: 50px;
    font-size: large;
    border: none;
    font-weight: 600;
    color: white;
    background-color: rgb(49, 168, 31);
    &&:hover{
        background-color: rgb(38, 125, 25);
    }
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.card{
    padding: 20px;
    font-size: 30px;
    color: white;
    background-color: rgb(56, 56, 184);
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px dashed black;
    cursor: pointer;
    border-radius: 15px;
    &&:hover{
        background-color: rgb(39, 39, 133);
    }
}
.labels{
    color: orange;
}