body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
.demoStyles{
    font-size: x-large;
    font-weight: 900;
}
.light{
    color: black;
    background-color: white;
}
.dark{
    color: white;
    background-color: black;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    /* background-color: transparent; */
    align-items: center;
    gap: 100px;
}

.btn1{
    padding: 10px 15px;
    border-radius: 50px;
    font-size: xx-large;
    background-color: rgb(36, 36, 160);
    color: white;
    font-weight: 600;
}
.btn1:hover{
    background-color: rgb(12, 12, 136);
    cursor: pointer;
}